* {
    margin: 0;
    padding: 0;
}

/* shared section - everything sharable */
.primary-button {
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}


/* header section */
.header-bg-img {
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
    /* margin-bottom: 104px; */
}

nav h2 {
    font-size: 34px;
    font-weight: bolder;
    color: #4E47FF;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    height: 151px;
}

.banner {
    text-align: center;
    margin: 145px 267px;
}

.banner h1 {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 37px;
}

/* Main section start here */

/* Action section */

.action-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 116px 150px;

}

.action-section-text h2 {
    font-size: 42px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}

.action-section-text p {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin: 23px 0;
}

.action-section img {
    border-radius: 48px;
}



/* Productive user section */

.productive-user-section {
    margin: 0px 150px 130px 150px;
    background-color: rgba(78, 71, 255, 0.1);
    height: 306px;
    border-radius: 24px;
}

.productive-user-section h2 {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    padding-top: 50px;
}
.pro-user-sec-bottom{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.pro-user-details h1{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.pro-user-details p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}


/* First option section */

.first-optional-section h1{
    /* margin: opx 150px 135px 150px; */
    font-size: 42px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    text-align: center;
    margin-bottom: 50px;
}
.cards-container{
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
    gap: 20px;
}
.card{
    background-color: #FFFFFF;
    border: 1px solid #F2EDED;
    border-radius: 24px;
    padding: 24px;
    width: 290px;
    height: 243px;
}
.card p {
    margin-bottom: 24px;
    margin-top: 8px;
}
.card h2{
    margin-top: 24px ;
    margin-bottom: 0;
}
.cards-inner{
    display: flex;
}
.cards-inner img{
    border-radius: 9999px;
    margin-right: 12px;
    width: 50px;
    height: 50px;
}
