*{
    margin: 0;
    padding: 0;
}
/* shared section - everything sharable */
.primary-button{
    background-color: #4E47FF;
    font-size: 16px ;
    font-weight: bold;
    color: #FFFFFF ;
    padding: 12px 36px ;
    border: none;
    border-radius: 10px;
}


/* header section */
.header-bg-img{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
    /* margin-bottom: 104px; */
}
nav h2{
    font-size: 34px;
    font-weight: bolder;
    color: #4E47FF;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    height: 151px;
}

.banner{
    text-align: center;
    margin: 145px 267px;
}
.banner h1{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 37px;
}

/* Main section start here */

/* Action section */

.action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 116px 150px;
    
}
.action-section-text h2{
    font-size: 42px;
    font-weight: bold;
    color:rgba(37, 36, 50, 1);
}
.action-section-text p{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin: 23px 0;
}
.action-section img{
    border-radius: 48px;
}